<%- include("../partials/header") %>

<div id="container" class="container">
    <header class="jumbotron">
    <div class="container text-center">
        <h1>Welcome!</h1>
        <p>This is the list of days that the blog have existed</p>
    </div>   
    </header>

    <div class="container">
        <table class="table content">
            <thead>
              <tr>
                <th scope="col">Day Index</th>
                <th scope="col">Date</th>
                <th scope="col">Book</th>
              </tr>
            </thead>
            <tbody>
              <% days.forEach(function(element){ %>
                <tr>
                  <td><%= element.index %></td>
                  <td><a href="/days/<%=element.daySKU%>"><%= element.daySKU %></a></td>
                  <td><%= element.book %></td>
                </tr>
              <% }) %>
            </tbody>
          </table>
    </div>

</div>

<%- include("../partials/footer") %>