<%- include("../partials/header") %>

<div class="container">
    <h3><%=thisDay.daySKU%></h3>
    <h4><%=thisDay.book%></h4>
    <div class="row">
        <div class="col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/<%=thisDay.englishID%>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p><%=thisDay.description%></p>
        </div>
        <div class="col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/<%=thisDay.spanishID%>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p><%=thisDay.descripcion%></p>
        </div>
    </div>
</div>


<%- include("../partials/footer") %>