<%- include("./partials/header") %>

  <!-- <a href="/albums">Go to the history of recommendations </a>
  <a href="/about">About</a>
  <img class="landingImage" src="/images/IMG_2557.JPG" alt=""> -->
<div class="container text-center landingAlbumImage">
  <img src="<%=randomAlbum.image%>" alt="<%=randomAlbum.name%> - <%=randomAlbum.artist%>">
</div>

<div class="container text-center albumInformation">
    <p><%=randomAlbum.date%></p>
    <h5><%=randomAlbum.name%></h5>
    <h5><%=randomAlbum.artist%></h5>
    <h5><%=randomAlbum.year%></h5>
</div>

<div class="container">
  <div class="row">
    <div class="col text-center mobileButtons">
      <a class="btn btn-dark" href="/random">Random</a>
      <a class="btn btn-dark" href="/">Back</a>
    </div>
  </div>
</div>

<%- include("./partials/footer") %>