<%- include("../partials/header") %>

  <!-- <a href="/albums">Go to the history of recommendations </a>
  <a href="/about">About</a>
  <img class="landingImage" src="/images/IMG_2557.JPG" alt=""> -->
<div class="container text-center landingAlbumImage">
  <img src="<%=album[0].image%>" alt="<%=album[0].name%> - <%=album[0].artist%>">
</div>

<div class="container text-center albumInformation">
    <p><%=album[0].date%></p>
    <h5><%=album[0].name%></h5>
    <h5><%=album[0].artist%></h5>
    <h5><%=album[0].year%></h5>
</div>

<div class="container">
  <div class="row linkIcons">
    <div class="col"></div>
    <div class="col"><a href="<%=album[0].spotifyLink%>" target="_blank"> <i class="fab fa-spotify"></i></a></div>
    <div class="col"><a href="<%=album[0].youtubeLink%>" target="_blank"> <i class="fab fa-youtube"></i></a></div>
    <div class="col"><a href="<%=album[0].wikipediaLink%>" target="_blank"><i class="fab fa-wikipedia-w"></i></a></div>
    <div class="col"><a href="<%=album[0].discogsLink%>" target="_blank"> <i class="fas fa-record-vinyl"></i></a></div>
    <div class="col"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col text-center mobileButtons">
      <a class="btn btn-dark" href="/about">About</a>
      <a class="btn btn-dark" href="/mobileSubscription">Subscribe</a>
      <a class="btn btn-dark" href="/random">Random</a>
    </div>
  </div>
</div>


<%- include("../partials/footer") %>